html,
body,
#root {
  height: 100%;
  background-color: #f4f4f4;
  user-select: none;
}

body {
  margin: 0;
}

.ant-slider-mark-text:nth-child(1) {
  left: 2% !important;
}

.canvas-container:nth-child(2) {
  display: none;
}
